*{
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 400px;
  height: 600px;
  background-color: blue;

}
.title-city {
  width: 100%;
  height: 50px;
  background-color: red;
}
.temp-block {
  height:350px;
}
.next-day-block {
  height:150px;
  background-color:green;
}






